
.home-bg {
    background-image: url('./restaurant-interior_1127-3394.avif'); 
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px 0;
    text-align: center;
    font-family: 'Poppins', sans-serif; 
}


.carousel-item img {
    max-height: 400px; 
    width: 100%;
    object-fit: cover;
}


.about-section {
    background-color: #f8f9fa; 
    font-family: 'Poppins', sans-serif; 
    color: #333; 
}


.contact-section {
    background-color: #343a40; 
    font-family: 'Poppins', sans-serif; 
    color: white; 
}


.btn-primary {
    background-color: #343a40; 
    border-color: #343a40; 
    font-family: 'Poppins', sans-serif;
}

.btn-primary:hover {
    background-color: #212529; 
    border-color: #212529; 
}

.navbar-brand {
    font-family: 'Poppins', sans-serif; 
    color: white; 
}
